<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
<h2>
<?php 
 echo <font color= 'Aqua'>"App Version": {{ versao_app }}</font><BR>
 Print "Deploy backend realizado com Ansible : ";
 echo exec('hostname');
 Print  "</BR>";
?>
</h2>
</body>
</html>
