<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 <h1>"App Version": {{ versao_app }} </h1><br><br>
<h2>
<?php 
 Print "Deploy backend realizado com Ansible : ";
 echo exec('hostname');
 Print  "</BR>";
?>
</h2>
</body>
</html>
