<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 <h2 style="color:blue">"App Version": {{ versao_app }} </h2><br>
<h2>
<?php 
 Print "Deploy backend realizado com Ansible : ";
 echo exec('hostname');
 Print  "</BR>";
?>
</h2>
</body>
</html>
